
button {
    background-color: #992900;
    color: #F9EFEC;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #992900;
    color: #F9EFEC;
    width: 100%;

    font-family: 'Labrada', serif;
    font-weight: bold;
    display: flex;
    position: sticky;
}

a{
    padding: 20px;
    display: inline-block;
        
}

a:hover {
    background-color: #8e2600;
    color: #F9EFEC;
    border-radius: 5px;
}

input[type=text] {
    padding: 6px;
    font-size: 15px;
    float: right;
    margin: 15px;
}

.icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #992900;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin: 15px;
    padding: 7px;
}

.nav{
    width: 70%;
    display: fixed;
    padding: 15px;
    float: right;
}

.logo{
     font-size: 25px;
     margin: 0;
     padding: 15px;
     width: 15%;
     float: left;
}


body{
    background-color: #F9EFEC;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', serif;
}

a{
    color: #F9EFEC;
    text-decoration: none;
}

